* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(242, 85, 77, 0.3);
    background-image: url('/competition/images/bg-intro-desktop.png');
}

.container
{
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* position: absolute; */
    
    gap: 2rem;
}

.container-left
{
    margin-left: 80px;
    margin-top: 200px;
    color: white;
   width: 400px;
}
.container-right
{
    margin-top: 120px;
}
h2
{

    font-size: 2.5rem;
}

.top-button
{
    margin-bottom: 10px;
    width: 400px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.7);
    border-radius: 5px ;
    border-color: transparent;
    background-color: rgb(63, 31, 145);
    color: white;
}
.acc-info
{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 5px 0;
    width: 400px;
    height: 400px;
    border-radius: 5px;
   
}

.input-cl
{
    height: 50px;
}
.acc-info input
{
    margin: 1rem 0.5rem;
}




/* @media screen and (max-width: 850px) {

}

@media screen and (max-width: 569px) {

}

@media screen and (max-width: 410px) {

} */